@use "variables" as *;
// General
@mixin rem-size {
  @media (min-width: 768px) and (max-width: 991px) {
    font-size: 16px;
  }
  @media (min-width: 576px) and (max-width: 767px) {
    font-size: 15px;
  }
  @media (max-width: 575px) {
    font-size: 14px;
  }
}

@mixin flex-main(
  $gap: 10px,
  $justify: center,
  $align: center,
  $direction: row
) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
}

// General

// Navbar
@mixin nav-height($desktop, $mobile, $breakpoint: 771px) {
  height: $desktop;

  @media (max-width: $breakpoint) {
    height: $mobile;
  }
}

@mixin navTriggerDiv($desktop, $mobile, $breakpoint: 771px) {
  top: $desktop !important;

  @media (max-width: $breakpoint) {
    top: $mobile !important;
  }
}

@mixin navbarButton {
  background-color: #fff;
  border: 1px solid #ededed;
  padding: 18px 24px;
  border-radius: 12px;
  font-weight: 500;
  transition: $linear-transition-3;
}

@mixin navbarButtonHover {
  background-color: $primary-orange;
  color: white;
  border: 1px solid $primary-orange;
}
// Navbar
