// Typography
$font-primary: "Metropolis", system-ui, -apple-system, "Segoe UI", Roboto,
  sans-serif;

// Colors
$primary-orange: #ff5634;
$primary-gray: #656565;

// Spacing
$main-spacing-inline: 102px;
$margin-nav-ul: 20px;

// Transitions
$linear-transition-3: all 0.3s linear;

// sizes

// animations
$animation-up-down: bounceY 1.5s linear infinite forwards;
