@use "mixins" as *;
@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; // default
  @include rem-size;
}

body {
  font-family: $font-primary;
}

// Navbar ======================
nav {
  background-color: #fff;
  box-shadow: 0 3px 12px #1212120f;
  @include nav-height(120px, 80px);
  @include flex-main(0px, center, center);
  .main-logo {
    display: flex;
    z-index: 2;
  }
}

.nav-container {
  @include flex-main(40px, space-between, center);
}

.nav-main-ul {
  margin-top: $margin-nav-ul;
  width: 100%;
  list-style: none;

  @include flex-main(30px, flex-end, center);

  li {
    font-weight: 500;
    font-size: 1rem;
    transition: $linear-transition-3;
    cursor: pointer;
    @include flex-main(7px, center, center);
  }

  li:hover {
    color: $primary-orange;
  }

  li i {
    transition: $linear-transition-3;
  }

  li:hover i {
    transform: rotate(180deg);
  }

  button {
    @include navbarButton;
  }

  button:hover {
    @include navbarButtonHover;
  }

  button:last-of-type {
    @include navbarButtonHover;
  }
}

.nav-sm-ul {
  background-color: #fff;
  margin-top: $margin-nav-ul;
  position: fixed;
  opacity: 0;
  width: 100vw;
  left: 0;
  right: 0;
  top: -200px;
  height: 100px;
  transition: $linear-transition-3;
  list-style: none;
  padding-bottom: 200px;
  @include flex-main(7px, center, center, column);

  li {
    font-size: 2rem;
    font-weight: 500;
    transition: $linear-transition-3;
    cursor: pointer;
  }

  li:hover {
    color: $primary-orange;
  }
}

.nav-sm-trigger {
  height: 20px;
  width: 40px;
  padding: 10px 5px;
  background: none;
  outline: none;
  border: none;
  z-index: 1;

  @include flex-main(10px, center, flex-end, column);
  span {
    background-color: #000;
    border-radius: 100px;
    width: 100%;
    border: 2px solid #000;
    display: block;
    transition: $linear-transition-3;
  }

  span:last-of-type {
    width: 70%;
  }
}

.nav-sm-ul-trigger {
  height: 100vh !important;
  @include navTriggerDiv(100px, 50px);
  opacity: 1 !important;
  z-index: 2;
  padding-top: 20px;
}

.nav-sm-trigger-span-1 {
  transform: rotate(100deg);
  width: 100% !important;
}

.nav-sm-trigger-span-2 {
  width: 100% !important;
  transform: translateY(-15px);
}

// Navbar ======================

// Hero ==========================
.hero {
  padding-top: 50px;
  background-color: #fafafa;
}

.hero-content {
  h3 {
    color: $primary-orange;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.06em;
    font-size: 1.1rem;
  }

  h2 {
    font-weight: bolder;
    font-size: 3.2rem;
    color: #000;
  }

  p {
    line-height: 1.667rem;
    color: $primary-gray;
    font-size: 1.2rem;
  }
}

.img-hero {
  animation: $animation-up-down;
}

@keyframes bounceY {
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}

.img-hero1 {
  @include heroAbsoluteImgs(left);
}

.img-hero2 {
  @include heroAbsoluteImgs(right);
}
// Hero ==========================

// Hero stat
.hero-stats {
  background-color: #fafafa;
  padding-top: 30px;
}

.hero-stat {
  color: #000;
  text-align: center;
  span {
    font-size: 3rem;
  }
  span:last-of-type {
    color: $primary-orange;
  }
  * {
    font-weight: bold;
  }

  p {
    color: $primary-gray;
  }
}
// Hero stat
